# only a few parameters for augeas tests in core module
# leaf, list and hash elements
HostbasedAuthentication no
HostKey              /etc/ssh/ssh_host_key
HostKey              /etc/ssh/ssh_host_rsa_key
HostKey              /etc/ssh/ssh_host_dsa_key
Subsystem            sftp /usr/lib/openssh/sftp-server
AcceptEnv LC_PAPER LC_NAME LC_ADDRESS LC_TELEPHONE LC_MEASUREMENT
AcceptEnv LC_IDENTIFICATION LC_ALL
