HostbasedAuthentication no
HostKey              /etc/ssh/ssh_host_key
HostKey              /etc/ssh/ssh_host_rsa_key
HostKey              /etc/ssh/ssh_host_dsa_key
IgnoreRhosts         yes
KeyRegenerationInterval 3600
Port                 22
LoginGraceTime       600
LogLevel             VERBOSE
PasswordAuthentication yes
PermitEmptyPasswords no
PermitRootLogin      no
PrintLastLog         yes
PrintMotd            no
Protocol             2
RhostsRSAAuthentication no
RSAAuthentication    yes
ServerKeyBits        768
StrictModes          yes
Subsystem            sftp /usr/lib/openssh/sftp-server
SyslogFacility       AUTH
TCPKeepAlive         yes
UsePAM               yes
X11DisplayOffset     10
X11Forwarding        yes
Toto titi
