# /etc/fstab: static file system information.
#
# <file system> <mount point>   <type>  <options>       <dump>  <pass>
proc            /proc           proc    defaults        0       0
/dev/sda1       /               ext3    defaults,errors=remount-ro 0       1
/dev/sda9       /home           ext3    defaults        0       2
/dev/sda8       /tmp            ext3    defaults        0       2
/dev/sda5       /usr            ext3    defaults        0       2
/dev/sda6       /var            ext3    defaults        0       2
/dev/sda7       none            swap    sw              0       0
/dev/hdc        /media/cdrom0   iso9660 ro,user,noauto  0       0
/dev/fd0        /media/floppy0  vfat    rw,user,noauto  0       0

/dev/sdb2       /mnt/gros       ext3    defaults  0       0
/dev/sdb3       /mnt/big        ext3    defaults  0       0

/dev/sdc1      /media/usb0      auto    rw,user,noauto  0       0

/dev/hdc      /media/cdrom      auto    user,noauto  0    0

http://foo.bar/baz/   /home/domi/dav   davfs   user,noauto   0   0
