# only a few parameters for augeas tests in core module
# leaf, list and hash elements
HostbasedAuthentication no

# some comment before Hostkey
HostKey              /etc/ssh/ssh_host_key
HostKey              /etc/ssh/ssh_host_rsa_key
HostKey              /etc/ssh/ssh_host_dsa_key

# comment before Subsystem
Subsystem            sftp /usr/lib/openssh/sftp-server
# illegal for sshd but handy for tests
Subsystem            tftp /usr/lib/openssh/tftp-server
# will be removed in tests
Subsystem            rftp /usr/lib/openssh/rftp-server

# comment before Accept env
AcceptEnv LC_PAPER LC_NAME LC_ADDRESS LC_TELEPHONE LC_MEASUREMENT
AcceptEnv LC_IDENTIFICATION LC_ALL

AllowUsers foo bar@192.168.0.*

# test checklist 
Ciphers arcfour256,aes192-cbc,aes192-ctr,aes256-cbc,aes256-ctr

# Match parsing block is broken and depend on resolution of
# https://fedorahosted.org/augeas/ticket/7

Match  User domi
AllowTcpForwarding   yes

# un commentaire
Match User Chirac Group pres.*
Banner /etc/bienvenue1.txt

# some comment
Match User bush Group pres.* Host white.house.*
Banner /etc/welcome.txt

